.p{
    margin-top: 100px;
    margin-left: 540px;
    margin-right: 540px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgb(241, 231, 219);

}
.q{
    width:100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.r{
    margin-left:20px;
    font-size: 20px;
    font-family: monospace;
}
.l{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    padding-bottom: 20px;
}
.g{
    padding:20px;
    color:blue;
}
